/****************************************************************************************************************************************************************************************/
/** POLICES D'ECRITURE
/****************************************************************************************************************************************************************************************/
@font-face {
  font-family: "LaffayetteComicPro";
  src: url("chrome://ylifecore/skin/fonts/LaffayetteComicPro.ttf");
}

/****************************************************************************************************************************************************************************************/
/** NICKNAME / STATUS
/****************************************************************************************************************************************************************************************/
.normal_nickname {
  font-family: "LaffayetteComicPro";
  font-size: 120%;
}
.normal_status {
  font-style: italic;
}
