#preview {
  margin-top: 4px;
}

/****************************************************************************************************************************************************************************************/
/** BOUTONS
/****************************************************************************************************************************************************************************************/
.bt_cancel { list-style-image: url(chrome://ylifecore/skin/icons/buttons/close.png); }
.bt_copy { list-style-image: url(chrome://ylifecore/skin/icons/buttons/internet.png); }




