/****************************************************************************************************************************************************************************************/
/** STYLE D'UNE BOITE DE NOTIFICATION DU HAUT
/****************************************************************************************************************************************************************************************/
.notification_box {
  margin: 4px;
  padding: 4px;
  color: #484848;
  font: bold 12px Helvetica, Arial, sans-serif;
  color: #000;
  border: solid 1px #7f7f7f;
  border-radius: 4px;
  background: -moz-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
}


/****************************************************************************************************************************************************************************************/
/** TITRE DU MESSAGE
/****************************************************************************************************************************************************************************************/
.title {
  padding-top: 6px;
  font: bold 20px "MatrixBookSmallCaps";
  text-shadow: 0 1px 0 #fff;
}


/****************************************************************************************************************************************************************************************/
/** STYLE D'UNE BOITE DE NOTIFICATION DU BAS
/****************************************************************************************************************************************************************************************/
.notification_hbox {
  background-color: #e7e7e7;
  margin-right: 10px;
}
