/****************************************************************************************************************************************************************************************/
/** POLICES D'ECRITURE
/****************************************************************************************************************************************************************************************/
@font-face {
  font-family: "LaffayetteComicPro";
  src: url("chrome://ylifecore/skin/fonts/LaffayetteComicPro.ttf");
}



/****************************************************************************************************************************************************************************************/
/** NICKNAME / STATUS
/****************************************************************************************************************************************************************************************/
.normal_nickname {
  margin-top: 8px;
  font-family: "LaffayetteComicPro";
}
.normal_status {
  font-style: italic;
}
