#preview {
  margin-top: 4px;
}

/****************************************************************************************************************************************************************************************/
/** BOUTONS
/****************************************************************************************************************************************************************************************/
.bt_cancel { list-style-image: url(chrome://ylifecore/skin/icons/buttons/close.png); }
.bt_print { list-style-image: url(chrome://ylifecore/skin/icons/buttons/print.png); }





