/****************************************************************************************************************************************************************************************/
/** AVATAR
/****************************************************************************************************************************************************************************************/
vbox.avatar {
  -moz-binding: url("chrome://ylifecore/content/bindings/avatars.xml#contact");
}


/****************************************************************************************************************************************************************************************/
/** BOUTONS
/****************************************************************************************************************************************************************************************/
.bt_muc { list-style-image: url(chrome://ylifecore/skin/icons/buttons/muc.png); }
.bt_profile { list-style-image: url(chrome://ylifecore/skin/icons/buttons/profile.png); }
.bt_close { list-style-image: url(chrome://ylifecore/skin/icons/buttons/close.png); }
