/****************************************************************************************************************************************************************************************/
/** POLICES D'ECRITURE
/****************************************************************************************************************************************************************************************/
@font-face {
  font-family: "LaffayetteComicPro";
  src: url("chrome://ylifecore/skin/fonts/LaffayetteComicPro.ttf");
}
/* Cartes : Texte */
@font-face {
  font-family: "MatrixBook";
  src: url("chrome://ylifecore/skin/fonts/MatrixBook.ttf");
}
/* Cartes: NOM / ATK / DEF */
@font-face {
  font-family: "MatrixBookSmallCaps";
  src: url("chrome://ylifecore/skin/fonts/MatrixBookSmallCaps.ttf");
}
/* Cartes: Divers */
@font-face {
  font-family: "MatrixBookSmallCapsBold";
  src: url("chrome://ylifecore/skin/fonts/MatrixBookSmallCapsBold.ttf");
}


/****************************************************************************************************************************************************************************************/
/** NOTIFICATIONS
/****************************************************************************************************************************************************************************************/
vbox.addons_update_available_top {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#addons_update_available_top");
}
vbox.addons_update_available {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#addons_update_available");
}
vbox.profile_initialized_top {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#profile_initialized_top");
}
vbox.profile_initialized {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#profile_initialized");
}
vbox.preferences_saved_top {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#preferences_saved_top");
}
vbox.preferences_saved {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#preferences_saved");
}
vbox.deckbuilder_ycd_loaded {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#deckbuilder_ycd_loaded");
}
vbox.jabber_error_top {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#jabber_error_top");
}
vbox.jabber_error {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#jabber_error");
}
vbox.jabber_connecting {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#jabber_connecting");
}
vbox.jabber_connfail_top {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#jabber_connfail_top");
}
vbox.jabber_connfail {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#jabber_connfail");
}
vbox.jabber_authenticating {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#jabber_authenticating");
}
vbox.jabber_authfail_top {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#jabber_authfail_top");
}
vbox.jabber_authfail {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#jabber_authfail");
}
vbox.jabber_disconnecting {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#jabber_disconnecting");
}
vbox.jabber_disconnected {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#jabber_disconnected");
}
vbox.jabber_connected_top {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#jabber_connected_top");
}
vbox.jabber_connected {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#jabber_connected");
}
vbox.jabber_connect_first {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#jabber_connect_first");
}
vbox.jabber_update_presence {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#jabber_update_presence");
}
vbox.jabber_update_vcard {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#jabber_update_vcard");
}
vbox.jabber_contact_presence {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#jabber_contact_presence");
}
vbox.jabber_contact_vcard {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#jabber_contact_vcard");
}
vbox.jabber_chat_message {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#jabber_chat_message");
}
vbox.jabber_muc_message {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#jabber_muc_message");
}
vbox.jabber_muc_presence {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#jabber_muc_presence");
}
vbox.jabber_muc_presence_error_top {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#jabber_muc_presence_error_top");
}
vbox.jabber_muc_presence_error {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#jabber_muc_presence_error");
}
vbox.jabber_muc_no_jid_top {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#jabber_muc_no_jid_top");
}
vbox.jabber_muc_no_jid {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#jabber_muc_no_jid");
}
vbox.deckbuilder_restrictions_top {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#deckbuilder_restrictions_top");
}
vbox.deckbuilder_restrictions {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#deckbuilder_restrictions");
}
vbox.deckbuilder_file_read_error {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#deckbuilder_file_read_error");
}
vbox.deckbuilder_file_read_success {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#deckbuilder_file_read_success");
}
vbox.deckbuilder_file_write_error {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#deckbuilder_file_write_error");
}
vbox.deckbuilder_file_write_success {
  -moz-binding: url("chrome://ylifecore/content/bindings/notifications.xml#deckbuilder_file_write_success");
}




/****************************************************************************************************************************************************************************************/
/** CONTENU
/****************************************************************************************************************************************************************************************/
#yLife {
  background-color: #e7e7e7;
}

#ylife_hbox {
  background-color: #e7e7e7;
}

#statusbar {
  border-top: solid 1px #7f7f7f;
  background-color: #e7e7e7;
  padding-left: 4px;
  padding-right: 4px;
}

#notifications {
  margin-left: 4px;
}

/****************************************************************************************************************************************************************************************/
/** CONTENU : PAGE DE DROITE
/****************************************************************************************************************************************************************************************/
#content {
  overflow-y:auto;
  overflow-x:hidden;
  background-color: #e7e7e7;
}


/****************************************************************************************************************************************************************************************/
/** ONGLETS
/****************************************************************************************************************************************************************************************/
#tabs {
  margin: 5px;
  background-color: #797979;
  overflow-y:auto;
  overflow-x:hidden;
}

#tabs radio {
  -moz-box-orient: horizontal;
  -moz-box-align: center;
  -moz-appearance: none;
  min-width: 4.5em;
  padding: 6px;
  margin: 0;
  margin-left: 12px;
  margin-top:12px;
}

#tabs radio[selected="true"] {
  background-color: #e7e7e7;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}


#tabs radio:hover {
  background-color: #569be4;
  color: HighlightText; 
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/****************************************************************************************************************************************************************************************/
/** CLASS NEWMESSAGE
/****************************************************************************************************************************************************************************************/
.newmessage {
  background-color: #569be4;
  border-radius: 6px;
}



/****************************************************************************************************************************************************************************************/
/** MODULES : LANCEURS / MENU
/****************************************************************************************************************************************************************************************/
.module_hbox {
  margin: 4px;
  color: #484848;
  font: bold 13px "MatrixBookSmallCaps";
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  padding: 4px;
  position: relative;
  background: #f0f0f0;
  background: -moz-linear-gradient(top, #f7f7f7, #d1d1d1);
  border: solid 1px #7f7f7f;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#ffffff')";
  -o-transition: border-color .218s;
}
.module_hbox:hover {
  border: solid 1px #333;
  color: #282828;
  background: -moz-linear-gradient(top, #ffffff, #dfdfdf);
}
.module_hbox:active {
  color: #000;
  border: solid 1px #7f7f7f;
  background: #d0d0d0;
  background: -moz-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
}
.module_title {
  font-size: 220%;
}
.module_description {
  max-width: 400px;
}

/****************************************************************************************************************************************************************************************/
/** MESSAGERIE INSTANTANNEE JABBER
/****************************************************************************************************************************************************************************************/
#jabber_vbox {
  margin: 4px;
  padding: 4px;
  border: solid 1px #7f7f7f;
  border-radius: 4px;
}


vbox.avatar_me {
  -moz-binding: url("chrome://ylifecore/content/bindings/avatars.xml#me");
}
vbox.avatar_contact {
  -moz-binding: url("chrome://ylifecore/content/bindings/avatars.xml#contact");
}

vbox.contact_normal {
  -moz-binding: url("chrome://ylifecore/content/bindings/contacts.xml#normal");
  border-bottom: solid 1px #7f7f7f;
}
vbox.contact_compact {
  -moz-binding: url("chrome://ylifecore/content/bindings/contacts.xml#compact");
}


.button {
  -moz-box-orient: horizontal;
  -moz-box-align: center;
  -moz-appearance: none;
  color: #484848;
  font: bold 12px Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  padding: 2px 10px;
  position: relative;
  display: inline-block;
  background: #f0f0f0;
  background: -moz-linear-gradient(top, #f7f7f7, #d1d1d1);
  border: solid 1px #7f7f7f;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#ffffff')";
  -o-transition: border-color .218s;
  border: solid 1px #7f7f7f;
}
.button_label {
  margin-top: 3px;
}
.button:hover {
  border: solid 1px #333;
  color: #282828;
  background: -moz-linear-gradient(top, #ffffff, #dfdfdf);
}
.button:active {
  color: #000;
  border: solid 1px #7f7f7f;
  background: #d0d0d0;
  background: -moz-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
}
.button[selected="true"] {
  color: #000;
  border: solid 1px #7f7f7f;
  background: #d0d0d0;
  background: -moz-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
}
.left {
  border-right: solid 1px #b0b0b0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
}
.middle {
  border-radius: 0;
  border-left: solid 1px rgba(255, 255, 255, 0);
  border-right: solid 1px #b0b0b0;
  margin: 0;
}
.middle:hover,
.right:hover { border-left: solid 1px #333 }
.right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: solid 1px rgba(255, 255, 255, 0);
  margin: 0;
}



#avatar_home {
  padding: 1px;
}
#avatar_home:hover {
  padding: 0px;
  border: solid 1px #7f7f7f;
  border-radius: 4px;
  background: -moz-linear-gradient(top, #f7f7f7, #d1d1d1);
}
#avatar_home:active {
  padding: 0px;
  border: solid 1px #7f7f7f;
  background: -moz-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
}

#hbox_nickname {
  margin: 6px;
}
#nickname_home {
  font-family: "MatrixBookSmallCaps";
  font-size: 180%;
  text-shadow: 0 1px 0 #fff;
}

#jabber_status {
  padding: 5px;
}

#jabber_status:hover {
  padding: 4px;
  border: solid 1px #7f7f7f;
  border-radius: 4px;
  background: -moz-linear-gradient(top, #f7f7f7, #d1d1d1);
}
#jabber_status:active {
  padding: 4px;
  border: solid 1px #7f7f7f;
  border-radius: 4px;
  background: -moz-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
}


.show_available { list-style-image: url(chrome://ylifecore/skin/icons/show_icons/available.png); }
.show_dnd { list-style-image: url(chrome://ylifecore/skin/icons/show_icons/dnd.png); }
.show_away { list-style-image: url(chrome://ylifecore/skin/icons/show_icons/away.png); }
.show_unavailable { list-style-image: url(chrome://ylifecore/skin/icons/show_icons/unavailable.png); }
.update_avatar { list-style-image: url(chrome://ylifecore/skin/icons/buttons/profile.png); }


#contactlist {
  -moz-appearance: none;
  border: solid 1px #7f7f7f;
  border-radius: 4px;
}

#jabber_actions {
  margin: 4px;
}




/****************************************************************************************************************************************************************************************/
/** MUC
/****************************************************************************************************************************************************************************************/
vbox.occupant_normal {
  -moz-binding: url("chrome://ylifecore/content/bindings/occupants.xml#normal");
  border-bottom: solid 1px #7f7f7f;
}
vbox.occupant_compact {
  -moz-binding: url("chrome://ylifecore/content/bindings/occupants.xml#compact");
}

.muc_occupants {
  -moz-appearance: none;
  margin: 4px;
  border: solid 1px #7f7f7f;
  border-radius: 4px;
}



/****************************************************************************************************************************************************************************************/
/** ZONE DE CONVERSATION
/****************************************************************************************************************************************************************************************/
.chatlog {
  margin: 4px;
  border: solid 1px #7f7f7f;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.muclog {
  margin: 4px;
  border: solid 1px #7f7f7f;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.duellog {
  margin: 4px;
  border: solid 1px #7f7f7f;
  border-radius: 4px;
  background-color: #FFFFFF;
}


/****************************************************************************************************************************************************************************************/
/** ZONE DE DUEL
/****************************************************************************************************************************************************************************************/

hbox.hbox_player {
  margin: 4px;
  padding: 4px;
  font: bold 22px "MatrixBookSmallCaps";
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #000;
  border: solid 1px #7f7f7f;
  background: #d0d0d0;
  background: -moz-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
}

hbox.hbox_player:hover {
  border: solid 1px #333;
  color: #282828;
  background: -moz-linear-gradient(top, #ffffff, #dfdfdf);
}

.lifepoints {
  padding-left: 6px;
  padding-top: 7px;
  font: bold 32px "MatrixBookSmallCaps";
}




/****************************************************************************************************************************************************************************************/
/** BOUTONS
/****************************************************************************************************************************************************************************************/
.bt_utils { list-style-image: url(chrome://ylifecore/skin/icons/buttons/actions.png); }
.bt_contacts { list-style-image: url(chrome://ylifecore/skin/icons/buttons/contacts.png); }
.bt_muc { list-style-image: url(chrome://ylifecore/skin/icons/buttons/muc.png); }
.bt_add { list-style-image: url(chrome://ylifecore/skin/icons/buttons/add.png); }
.bt_chat { list-style-image: url(chrome://ylifecore/skin/icons/buttons/chat.png); }
.bt_duel { list-style-image: url(chrome://ylifecore/skin/icons/buttons/duel.png); }
.bt_profile { list-style-image: url(chrome://ylifecore/skin/icons/buttons/profile.png); }

.bt_newduel { list-style-image: url(chrome://ylifecore/skin/icons/buttons/newduel.png); }
.bt_newmatch { list-style-image: url(chrome://ylifecore/skin/icons/buttons/newmatch.png); }
.bt_invite { list-style-image: url(chrome://ylifecore/skin/icons/buttons/invite.png); }
.bt_gamble { list-style-image: url(chrome://ylifecore/skin/icons/buttons/gamble.png); }
.bt_player { list-style-image: url(chrome://ylifecore/skin/icons/buttons/player.png); }
.bt_coin { list-style-image: url(chrome://ylifecore/skin/icons/buttons/coin.png); }
.bt_dice { list-style-image: url(chrome://ylifecore/skin/icons/buttons/dice.png); }
.bt_token { list-style-image: url(chrome://ylifecore/skin/icons/buttons/token.png); }
.bt_export { list-style-image: url(chrome://ylifecore/skin/icons/buttons/export.png); }
